<div class="page">
    <div class="grid-container">
        <div class="grid-column col-60">
            <div class="substrate">
                <h1>{{ firstName }} {{ lastName }}</h1>
                <p>Username: {{ username }}</p>
                <p>Date of registration: {{ date registeredAt }}</p>
            </div>
        </div>
    </div>
</div>
