<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="stylesheets/global.css"/>
    <title>Auth</title>
  </head>
</html>
<body class="ui">
  <div class="pattern-cell login">
    <form action="/login" method="post">
       <div>
          <div class="substrate">
              {{#if errorText}}
              <div class="alert alert-error" role="alert">
                <p>{{ errorText }}</p>
              </div>
              {{/if}}
            <div class="textbox">
              <input type="text" placeholder="Name" name="name"/>
            </div>
            <div class="textbox icon"><i class="fa fa-user"></i>
              <input type="text" placeholder="Login" name="username"/>
            </div>
            <div class="textbox icon"><i class="fa fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <button class="rectangular green"><i class="fa fa-sign-in"></i><span>Log In</span></button>
          </div>
        </div>
     </form>
  </div>
</body>
