<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Friends app</title>
  <link rel="stylesheet" href="stylesheets/global.css"/>
  
</head>
<body class="ui">
    <div class="navigation">
      <ul>
        <li id="nav-friends">
          <a href="/dashboard" class="button rectangular"><i class="fa fa-user"><span>Friends</span></i></a>
        </li>
        <li id="nav-search"i c>
          <a href="/search" class="button rectangular"><i class="fa fa-search"><span>Search</span></i></a>
        </li>
        <li id="nav-logout">
          <a href="/logout" class="button rectangular"><i class="fa fa-sign-out"><span>Logout</span></i></a>
        </li>
      </ul>
    </div>

    <div class="page-wrapper">
    </div>
    <script src="/javascripts/vendor/require.js" type="text/javascript" charset="utf-8" data-main="/javascripts/init.js"></script>
</body>
</html>
