<a href="/"><span>{{ firstName }} {{ lastName }}</span></a>
<div class="control">
    {{#each buttons}}
    <button class="clear"><i class="fa {{ type }}"></i><span>{{ title }}</span></button>
    {{/each}}
</div>
