<div class="page">
  <div class="grid-container">
    <div class="grid-column col-50" id="inbox-region"></div>
    <div class="grid-column col-50" id="outbox-region">
    </div>
    <div class="grid-column" id="friends-region">
    </div>
  </div>
</div>
