<div class="substrate">
  <h1>Outbox</h1>
  <div class="list-of-users">
    <ul>
      <li><a href="/"><span>Nastassja Kotinskaya</span></a>
        <div class="control">
          <button class="clear"><i class="fa fa-times"></i></button>
        </div>
      </li>
      <li><a href="/"><span>Luba Ljubasha</span></a>
        <div class="control">
          <button class="clear"><i class="fa fa-times"></i></button>
        </div>
      </li>
    </ul>
  </div>
</div>

